@import '../../../theme/colors.scss';
@import '../../../theme/mixins.scss';

#container {
    @include flex(center, center, column);
    height: 100vh;
    .subContainer {
        text-align: center;
        h1 {
            color: $white;
            margin-bottom: 100px;
        }
        .fourOhFour {
            width: 800px;
        }
    }
}

@media(max-width: 768px){
    #container {
        .subContainer {
            .fourOhFour {
                width: 300px;
            }
        }
    }
}