<section id="container">
    <div class="subContainer">
        <h1>Delete user</h1>
        <form *ngIf="user">
            <input type="text" placeholder="{{user.first_name}}" disabled>
            <input type="text" placeholder="{{user.last_name}}" disabled>
        </form>
        <div class="buttons">
            <button (click)="backToHome()" class="cancel">Cancel</button>
            <button (click)="deleteUser()" class="delete">Delete</button>
        </div>
    </div>
</section>