<section id="container">
    <div class="subContainer">
        <h1>Update user</h1>
        <form [formGroup]="updateUserForm">
                <input name="name" type="text" placeholder="Enter a name" [(ngModel)]="requestUserUpdate.name" formControlName="name">
                <div *ngIf="getFormControl('name').invalid">
                    <div *ngIf="getFormControl('name').errors.required">                    
                        <span class="error">Name is required.</span>
                    </div>               
                </div>
                <input name="job" type="text" placeholder="Enter a job" [(ngModel)]="requestUserUpdate.job" formControlName="job">
                <div class="errorAlert" *ngIf="getFormControl('job').invalid">
                    <div *ngIf="getFormControl('job').errors.required">                    
                        <span class="error">Job is required.</span>
                    </div>               
                </div>
        </form>
        <div class="buttons">
            <button (click)="backToHome()" class="cancel">Cancel</button>
            <button (click)="update()" class="update" [disabled]="getFormControl('name').invalid || getFormControl('job').invalid">Update</button>        
        </div>
    </div>
</section>