@import '../../../theme/colors.scss';
@import '../../../theme/mixins.scss';

#container {
    @include flex(none, center, column);
    height: 100vh;
    .subContainer {
        @include flex(none, center, column);
        width: 100%;
        margin: 150px 15px 0px;
        h1 {
            color: $white;
        }
        form {
            @include flex(none, none, column);
            margin: 30px 0px;
            display: flex;
            input {
                width: 400px;
                margin: 10px 0px 5px;
                padding: 15px 10px;
                color: $white;
                border-radius: 3px;
                border: 1px solid $white-opacity;
                background-color: transparent;
                outline-style: none;
                &::placeholder {
                    color: $white-opacity;
                }
            }
            span {
                color: $white-opacity; 
                font-size: 12px; 
            }
        }
        .buttons {
            @include flex(center, none, row);
            .update, .cancel {
                width: 180px;
                height: 40px;
                margin: 0px 2.5px;
                cursor: pointer;
                border: none;
                border-radius: 5px;
                border: 1px solid $white;
                font-weight: 600;
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                background-position: center;
                transition: background 0.8s;
                &:hover {
                    color: $primary;
                    width: 203px;
                    height: 43px;
                    transition: 0.5s;
                    background-color: $white;
                    background-image: radial-gradient(circle, transparent 1%, $primary 1%);
                    background-position: center;
                    background-size: 15000%;
                }
                &:active {
                    color: $primary;
                    transition: background 0s;
                    background-color: $white;
                    background-size: 100%;
                }
                &:focus {
                    outline-style: none;
                }
            }
            .cancel {
                color: $white;
                background-color: transparent;
            }
            .update {
                color: $primary;
                background-color: $white;
                &:disabled {
                    background-color: $white-opacity;
                }
            }
        }
    }
}

@media(max-width: 768px) {
    #container {
        .subContainer {
            form {
                input {
                    width: 300px;
                }
            }
            .buttons {
                @include flex(center, none, column-reverse);
                .cancel, .update {
                    width: 250px;
                    margin-top: 5px;
                    margin-bottom: 10px;
                }
            }
        }
    }
}