/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@import './theme/colors.scss';
@import './theme/mixins.scss';

body{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-image: $background;
    background-repeat: no-repeat;
}