<section id="container">
    <div class="subContainer">
        <h1>Create user</h1>
        <form name="form" [formGroup]="newUserForm">
                <input name="name" type="text" placeholder="Name" formControlName="name">
                <div *ngIf="getFormControl('name').invalid">
                    <div *ngIf="getFormControl('name').errors.required">                    
                        <span class="error">Name is required.</span>
                    </div>               
                </div>
                <input name="job" type="text" placeholder="Job" formControlName=job>
                <div class="errorAlert" *ngIf="getFormControl('job').invalid">
                    <div *ngIf="getFormControl('job').errors.required">                    
                        <span class="error">Job is required.</span>
                    </div>               
                </div>
        </form>
        <div class="buttons">
            <button (click)="backToHome()" class="cancel">Cancel</button>
            <button (click)="save()" class="create" [disabled]="getFormControl('name').invalid || getFormControl('job').invalid">Create</button>
        </div>
    </div>
</section>