<section id="container">
    <div class="subContainer">
        <div class="header">
            <h1>All users</h1>
            <button (click)="create()" class="create">Create user</button>  
        </div>
        <div class="cards">
            <div class="card" *ngFor="let user of users">
              <img class="avatar" src="{{user.avatar}}" alt="Avatar">
              <h3 class="fullName">{{user.first_name}} {{user.last_name}}</h3>
              <p class="mail">{{user.email}}</p>
              <div class="icons">
                <img routerLink="/user/update/{{user.id}}" class="icon" src="../../../assets/edit.png" alt="Edit">   
                <img routerLink="/user/delete/{{user.id}}" class="icon" src="../../../assets/trash.png" alt="Delete">   
            </div>
            </div>
          </div>
    </div>
</section>