@import '../../../theme/colors.scss';
@import '../../../theme/mixins.scss';

#container {
    @include flex(none, center, column);
    height: auto;
    .subContainer {
        @include flex(center, center, column);
        margin: 100px 15px 0px;
        min-width: 60%;
        .header {
            width: 100%;
            margin-bottom: 30px;
            @include flex(space-around, center, row);
            h1 {
                color: $white;
                align-self: flex-start;
            }
            button {
                width: 200px;
                height: 40px;
                margin: 0px 2.5px;
                position: relative;
                cursor: pointer;
                color: $primary;
                font-weight: 600;
                text-transform: uppercase;
                font-family: 'Montserrat', sans-serif;
                border-radius: 5px;
                border: 1px solid $white;
                background-color: $white;
                background-position: center;
                box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
                animation: pulse 2s infinite cubic-bezier(0.66, 0, 0, 1);
                transition: background 0.8s;
                &:hover {
                    width: 203px;
                    height: 43px;
                    transition: 0.3s;
                    background-color: $white;
                    background-image: radial-gradient(circle, transparent 1%, $primary 1%);
                    background-position: center;
                    background-size: 15000%;
                }
                &:active {
                    color: $white;
                    transition: background 0s;
                    background-color: $white;
                    background-size: 100%;
                }
                &:focus {
                    outline-style: none;
                }
            }
        }
        .cards {
            @include flex(center, center, row);
            width: 90%;
            flex-wrap: wrap;
            .card {
                @include flex(none, center, column);
                width: 25%;
                height: 300px;
                margin: 10px;
                color: $primary;
                border-radius: 5px;
                background-color: $white;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
                &:hover {
                    width: 25.5%;
                    height: 310px;
                    transition: 0.3s;
                }
                .avatar {
                    width: 80px;
                    height: 80px;
                    border-radius: 100px;
                    margin-top: 50px;
                }
                .fullName, .mail {
                    margin-bottom: 0px;
                }
                .icons {
                    align-self: flex-end;
                    margin: 50px 20px 0px 0px;
                    .icon {
                        width: 25px;
                        cursor: pointer;
                        padding-left: 10px;
                        outline-style: none;
                        &:hover {
                            width: 30px;
                            transition: 0.3s;
                        }
                    }
                }
            }
        }
    }
}

@keyframes pulse {
    to {
        box-shadow: 0 0 0 20px rgba(255, 255, 255, 0);
    }
}

  
@media(max-width: 768px) {
    #container {
        .subContainer {
            width: 90%;
            .header {
                @include flex(space-between, none, none);
                button {
                    width: 150px;
                }
            }
            .cards {
                @include flex(none, none, column);
                width: 100%;
                .card {
                    width: 85%;
                    .avatar {
                        margin-top: 30px;
                    }
                    &:hover {
                        width: 85%;
                        height: 300px;
                    }
                }
            }
        }
    }

}